site_name: "Bridge2AI Standards Registry"
theme:
  name: material
  font:
    text: Inter
  palette:

    # Palette toggle for light mode
    - scheme: default
      primary: deep purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: deep purple
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.tabs.link
    - toc.integrate
plugins:
  - search
  - mermaid2
nav:
  - Home: index.md
  - Categories: categories.md
  - Curation: curation.md
  - Programmatic Access: programmatic-access.md
  - AI Access: ai-access.md
  - Data Manifest: manifest.md
  - Use Cases:
      - Use Cases Overview: UseCase.markdown
      - Assemble standards for integrated maps of human cell architecture: usecases/assemble-standards-for-integrated-maps-of-human-cell-architecture.markdown
      - Assemble standards for voice data: usecases/assemble-standards-for-voice-data.markdown
      - Assess the explainability of a computational model: usecases/assess-the-explainability-of-a-computational-model.markdown
      - Assess the potential bias in a computational model: usecases/assess-the-potential-bias-in-a-computational-model.markdown
      - Assess the quality of a computational model in terms of its ability to complete a specific task: usecases/assess-the-quality-of-a-computational-model-in-terms-of-its-ability-to-complete-a-specific-task.markdown
      - Build a database of human voice samples and associations with biomarkers of health: usecases/build-a-database-of-human-voice-samples-and-associations-with-biomarkers-of-health.markdown
      - Build a graph database of arbitrary data types: usecases/build-a-graph-database-of-arbitrary-data-types.markdown
      - Build a relational database of arbitrary data types: usecases/build-a-relational-database-of-arbitrary-data-types.markdown
      - Construct standards for computational provenance: usecases/construct-standards-for-computational-provenance.markdown
      - Deploy a Federated Learning System for analysis of voice data: usecases/deploy-a-federated-learning-system-for-analysis-of-voice-data.markdown
      - Determine whether enough data is available to train a computational model of interest: usecases/determine-whether-enough-data-is-available-to-train-a-computational-model-of-interest.markdown
      - Develop cross-sectional AI models of relationships between diabetes severity, cognitive function, and presence of biomarkers: usecases/develop-cross-sectional-ai-models-of-relationships-between-diabetes-severity-cognitive-function-and-presence-of-biomarkers.markdown
      - Develop models of clinical image data: usecases/develop-models-of-clinical-image-data.markdown
      - Develop multi-scale maps of human cell architecture: usecases/develop-multi-scale-maps-of-human-cell-architecture.markdown
      - Develop predictive models of insulin dependence and salutogenesis: usecases/develop-predictive-models-of-insulin-dependence-and-salutogenesis.markdown
      - Develop pseudotime patient models of health and salutogenesis: usecases/develop-pseudotime-patient-models-of-health-and-salutogenesis.markdown
      - Develop software and cloud infrastructure for automated voice data collection through a smartphone application: usecases/develop-software-and-cloud-infrastructure-for-automated-voice-data-collection-through-a-smartphone-application.markdown
      - Integrate clinical record data with voice data: usecases/integrate-clinical-record-data-with-voice-data.markdown
      - Link cellular objects to functions through associations between proteins, cell structure, proximity, and transcriptomics: usecases/link-cellular-objects-to-functions-through-associations-between-proteins-cell-structure-proximity-and-transcriptomics.markdown
      - Obtain clinical waveform data from patients: usecases/obtain-clinical-waveform-data-from-patients.markdown
      - Obtain genomics data from patients: usecases/obtain-genomics-data-from-patients.markdown
      - Obtain image data from brain magnetic resonance imaging: usecases/obtain-image-data-from-brain-magnetic-resonance-imaging.markdown
      - Obtain image data from retinal and other ophthalmic imaging: usecases/obtain-image-data-from-retinal-and-other-ophthalmic-imaging.markdown
      - Obtain molecular proximity observations from microscopy images of human cells: usecases/obtain-molecular-proximity-observations-from-microscopy-images-of-human-cells.markdown
      - Obtain patient data from laboratory analysis including serological testing and urinalysis: usecases/obtain-patient-data-from-laboratory-analysis-including-serological-testing-and-urinalysis.markdown
      - Obtain patient data from records of clinical visits: usecases/obtain-patient-data-from-records-of-clinical-visits.markdown
      - Obtain patient data from wearable devices: usecases/obtain-patient-data-from-wearable-devices.markdown
      - Obtain proteome data from human cell samples: usecases/obtain-proteome-data-from-human-cell-samples.markdown
      - Obtain social determinants of health data from patients: usecases/obtain-social-determinants-of-health-data-from-patients.markdown
      - Obtain transcriptome data from human cell populations perturbed through CRISPR-driven mutagenesis: usecases/obtain-transcriptome-data-from-human-cell-populations-perturbed-through-crispr-driven-mutagenesis.markdown
      - Obtain voice data from patients: usecases/obtain-voice-data-from-patients.markdown
      - Produce artifacts that map identifiers between source and standardized data representations: usecases/produce-artifacts-that-map-identifiers-between-source-and-standardized-data-representations.markdown
      - Query a graph database of arbitrary data types: usecases/query-a-graph-database-of-arbitrary-data-types.markdown
      - Query a relational database of arbitrary data types: usecases/query-a-relational-database-of-arbitrary-data-types.markdown
      - Standardize clinical image data collected from multiple sites and sources: usecases/standardize-clinical-image-data-collected-from-multiple-sites-and-sources.markdown
      - Standardize clinical omics data collected from multiple sites and sources: usecases/standardize-clinical-omics-data-collected-from-multiple-sites-and-sources.markdown
      - Standardize clinical record data collected from multiple sites and sources: usecases/standardize-clinical-record-data-collected-from-multiple-sites-and-sources.markdown
      - Standardize clinical waveform data collected from multiple sites and sources: usecases/standardize-clinical-waveform-data-collected-from-multiple-sites-and-sources.markdown
      - Test and deploy analytical models of clinical image data: usecases/test-and-deploy-analytical-models-of-clinical-image-data.markdown
      - Train a binary classification model on data in one or more Bioconductor objects: usecases/train-a-binary-classification-model-on-data-in-one-or-more-bioconductor-objects.markdown
      - Train a linear regression model on data in an R tibble: usecases/train-a-linear-regression-model-on-data-in-an-r-tibble.markdown
      - Train a neural network model on tensor data: usecases/train-a-neural-network-model-on-tensor-data.markdown
      - Transform data from OMOP to the i2b2 standard: usecases/transform-data-from-omop-to-the-i2b2-standard.markdown
      - Transform FHIR data to TSV: usecases/transform-fhir-data-to-tsv.markdown
  - Substrates:
      - Substrates Overview: substrates.markdown
      - Array: substrates/array.markdown
      - Associative Array: substrates/associative-array.markdown
      - BIDS: substrates/bids.markdown
      - BigQuery: substrates/bigquery.markdown
      - Column Store: substrates/column-store.markdown
      - Comma-separated values: substrates/comma-separated-values.markdown
      - Compressed Data: substrates/compressed-data.markdown
      - Data: substrates/data.markdown
      - Data Frame: substrates/data-frame.markdown
      - Database: substrates/database.markdown
      - Delimited Text: substrates/delimited-text.markdown
      - DICOM: substrates/dicom.markdown
      - Directed acyclic graph: substrates/directed-acyclic-graph.markdown
      - Document Database: substrates/document-database.markdown
      - Graph: substrates/graph.markdown
      - Graph Database: substrates/graph-database.markdown
      - HDF5: substrates/hdf5.markdown
      - Heap: substrates/heap.markdown
      - Hierarchical Array: substrates/hierarchical-array.markdown
      - Image: substrates/image.markdown
      - Immunofluorescence Image: substrates/immunofluorescence-image.markdown
      - JSON: substrates/json.markdown
      - KGX TSV: substrates/kgx-tsv.markdown
      - Mass Spectrometry Data: substrates/mass-spectrometry-data.markdown
      - MongoDB: substrates/mongodb.markdown
      - MySQL: substrates/mysql.markdown
      - N-Dimensional Array: substrates/n-dimensional-array.markdown
      - Neo4j: substrates/neo4j.markdown
      - Neural Network Model: substrates/neural-network-model.markdown
      - NNEF: substrates/nnef.markdown
      - ONNX: substrates/onnx.markdown
      - Optical coherence tomography angiography data: substrates/optical-coherence-tomography-angiography-data.markdown
      - Optical coherence tomography data: substrates/optical-coherence-tomography-data.markdown
      - Oxygen saturation: substrates/oxygen-saturation.markdown
      - Pandas DataFrame: substrates/pandas-dataframe.markdown
      - Parquet: substrates/parquet.markdown
      - Participant response data: substrates/participant-response-data.markdown
      - Perturb-seq Data: substrates/perturb-seq-data.markdown
      - Physical activity data: substrates/physical-activity-data.markdown
      - Physiological data: substrates/physiological-data.markdown
      - Pinecone: substrates/pinecone.markdown
      - PostgreSQL: substrates/postgresql.markdown
      - Property graph: substrates/property-graph.markdown
      - PyTorch Tensor: substrates/pytorch-tensor.markdown
      - Questionnaire response data: substrates/questionnaire-response-data.markdown
      - R data.frame: substrates/r-data-frame.markdown
      - R tibble: substrates/r-tibble.markdown
      - Raster Image: substrates/raster-image.markdown
      - Relational Database: substrates/relational-database.markdown
      - Respiratory rate: substrates/respiratory-rate.markdown
      - Retinal Image: substrates/retinal-image.markdown
      - RNA Sequence Data: substrates/rna-sequence-data.markdown
      - Sequence: substrates/sequence.markdown
      - Set: substrates/set.markdown
      - Single-cell RNA Sequence Data: substrates/single-cell-rna-sequence-data.markdown
      - Size Exclusion Chromatography-Mass Spectrometry Data: substrates/size-exclusion-chromatography-mass-spectrometry-data.markdown
      - Sleep tracking data: substrates/sleep-tracking-data.markdown
      - Spectral Data: substrates/spectral-data.markdown
      - Stress tracking data: substrates/stress-tracking-data.markdown
      - String: substrates/string.markdown
      - SummarizedExperiment: substrates/summarizedexperiment.markdown
      - Tab-separated values: substrates/tab-separated-values.markdown
      - Tensor: substrates/tensor.markdown
      - Text: substrates/text.markdown
      - Time-series data: substrates/time-series-data.markdown
      - Tree: substrates/tree.markdown
      - Trie: substrates/trie.markdown
      - Vector Database: substrates/vector-database.markdown
      - Vector Image: substrates/vector-image.markdown
      - Vector: substrates/vector.markdown
      - Waveform Audio File Format: substrates/waveform-audio-file-format.markdown
      - Waveform Data: substrates/waveform-data.markdown
      - xarray: substrates/xarray.markdown
      - Zarr: substrates/zarr.markdown
  - Topics:
      - Topics Overview: topics.md
      - Biology: topics/Biology.markdown
      - Cell: topics/Cell.markdown
      - Cheminformatics: topics/Cheminformatics.markdown
      - Clinical Observations: topics/ClinicalObservations.markdown
      - Data: topics/Data.markdown
      - Demographics: topics/Demographics.markdown
      - Disease: topics/Disease.markdown
      - Drug: topics/Drug.markdown
      - EHR: topics/EHR.markdown
      - EKG: topics/EKG.markdown
      - Environment: topics/Environment.markdown
      - Gene: topics/Gene.markdown
      - Genome: topics/Genome.markdown
      - Geolocation: topics/Geolocation.markdown
      - Image: topics/Image.markdown
      - Literature: topics/Literature.markdown
      - Metabolome: topics/Metabolome.markdown
      - mHealth: topics/mHealth.markdown
      - Microscale Imaging: topics/MicroscaleImaging.markdown
      - Molecular Biology: topics/MolecularBiology.markdown
      - Networks and Pathways: topics/NetworksAndPathways.markdown
      - Neurologic Imaging: topics/NeurologicImaging.markdown
      - Omics: topics/Omics.markdown
      - Ophthalmic Imaging: topics/OphthalmicImaging.markdown
      - Phenotype: topics/Phenotype.markdown
      - Protein: topics/Protein.markdown
      - Protein Structure Model: topics/ProteinStructureModel.markdown
      - Proteome: topics/Proteome.markdown
      - SDoH: topics/SDoH.markdown
      - Social Media: topics/SocialMedia.markdown
      - Survey: topics/Survey.markdown
      - Text: topics/Text.markdown
      - Transcript: topics/Transcript.markdown
      - Transcriptome: topics/Transcriptome.markdown
      - Variant: topics/Variant.markdown
      - Voice: topics/Voice.markdown
      - Waveform: topics/Waveform.markdown
      - Glucose Monitoring: topics/GlucoseMonitoring.markdown
      - Activity Monitoring: topics/ActivityMonitoring.markdown
      - Governance: topics/Governance.markdown
  - Organizations: Organization.markdown
site_url: https://bridge2ai.github.io/b2ai-standards-registry
repo_url: https://github.com/bridge2ai/b2ai-standards-registry
markdown_extensions:
  - tables
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.superfences:
      # make exceptions to highlighting of code:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid_custom
extra_javascript:
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - javascripts/tablesort.js
extra_css:
  - stylesheets/manifest.css
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/bridge2ai/b2ai-standards-registry
      name: Standards Registry GitHub
