name: "Run script to update synapse tables"

on:
  push:
    branches:
      - main
    paths:
      - 'project/data/*.json'
  workflow_dispatch:

jobs:
  update_synapse_tables:
    name: Run script to update synapse tables with data changes
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        # uses: snok/install-poetry@v1.3.1
        run: |
          python -m pip install --upgrade pip
          pip install poetry

      - name: Install dependencies
        run: |
          poetry install --no-interaction --extras synapse

      - name: Install jq
        run: sudo apt-get install jq

      - name: Get changed files
        id: changes
        run: |
          CHANGED_FILES=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
          https://api.github.com/repos/${{ github.repository }}/commits/${{ github.sha }} | jq -r '.files[].filename' | grep 'project/data/.*\.json$')
          CHANGED_FILES=$(echo "$CHANGED_FILES" | tr '\n' ' ')
          echo "CHANGED_FILES=$CHANGED_FILES" >> $GITHUB_ENV
          echo "Files changed: $CHANGED_FILES"

      - name: Run script to update synapse tables
        run: |
          if [ -n "${{ env.CHANGED_FILES }}" ]; then
            poetry run b2aisr update-synapse  ${{ env.CHANGED_FILES }}
            poetry run b2aisr create-denormalized-tables   # --specific-tables DST_denormalized
          else
            echo "No relevant json files changed."
          fi
        env:
          SYNAPSE_AUTH_TOKEN: ${{ secrets.SYNAPSE_AUTH_TOKEN }}
